{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Phalanx ID Database{% endblock %}</title>
    <link rel="icon" href="{% static 'WebService/img/phalanx.png' %}" type="image/png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static 'css/dataTables.css' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>

        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{% block content-title %}Phalanx ID Data Table{% endblock %}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
        </div>
    </header>

    <div>
        <div class="col-xs-12" id="tableWrapper" style="margin-top: 50px; position: relative; padding: 10px">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead class="mdl-data-table__cell--non-numeric">
                <tr>
                    <th class="text-center">pk</th>
                    <th class="text-center">Phalanx ID</th>
                    <th class="text-center">Phalanx UID</th>
                    <th class="text-center">UART Test</th>
                    <th class="text-center">GPIO Test</th>
                    <th class="text-center">Radio Test</th>
                    <th class="text-center">Phalanx ok?</th>
                    <th class="text-center">Sender rssi</th>
                    <th class="text-center">Receiver rssi</th>
                    <th class="text-center">Timestamp</th>
                    <th class="text-center">Firmware Name</th>
                    <th class="text-center">Firmware Version</th>

                </tr>
                </thead>
                <tbody>
                {% for phalanx_object in phalanx_info %}
                    <tr class="mdl-data-table__cell--non-numeric">
                        <td class="text-center"> {{ phalanx_object.pk }} </td>
                        <td class="text-center"> {{ phalanx_object.phalanx_id }} </td>
                        <td class="text-center"> {{ phalanx_object.phalanx_uid }} </td>
                        <td class="text-center"> {{ phalanx_object.uart_test }} </td>
                        <td class="text-center"> {{ phalanx_object.gpio_test }} </td>
                        <td class="text-center"> {{ phalanx_object.radio_test }} </td>
                        {% if phalanx_object.phalanx_ok %}
                            <td class="text-center"><span class="glyphicon glyphicon-ok"></span></td>
                        {% else %}
                            <td class="text-center"><span class="glyphicon glyphicon-remove"></span></td>
                        {% endif %}
                        <td class="text-center"> {{ phalanx_object.sender_rssi }} </td>
                        <td class="text-center"> {{ phalanx_object.receiver_rssi }} </td>
                        <td class="text-center"> {{ phalanx_object.timestamp }} </td>
                        <td class="text-center">{{ phalanx_object.firmware_name }}</td>
                        <td class="text-center">{{ phalanx_object.firmware_version }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


    <main class="mdl-layout__content">
        <div class="mdl-grid">
            <div id='loading'
                 class="mdl-cell mdl-cell--12-col mdl-progress mdl-js-progress mdl-progress__indeterminate"
                 style="display: none;"></div>
            {% block content %}
            {% endblock %}
        </div>
    </main>
</div>

{% block scripts %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                processing: true,
                ordering: true,
                scrollX: true
            });
        });
    </script>


{% endblock %}
</body>
</html>
